{{ form_start(form, {'attr': {'class': 'kt-form kt-form--label-right', 'novalidate': 'novalidate'}}) }}
<div class="kt-portlet__body">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_label(form.fullName, 'Full Name*') }}
                {{ form_widget(form.fullName, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.fullName) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.email, 'Email*') }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.email) }}
                </div>
            </div>
            <div class="form-group">
                <div>
                    {{ form_label(form.active, 'Active') }}
                </div>
                <span class="kt-switch kt-switch--icon">
                                <label>{{ form_widget(form.active) }}
                                    <span></span>
                                </label>
                            </span>
                <div class="form-error">
                    {{ form_errors(form.active) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_label(form.role, 'Role*') }}
                {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.role) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_label(form.position, 'Position*') }}
                {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.position) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.reportsTo, 'Reports To*') }}
                {{ form_widget(form.reportsTo, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.reportsTo) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_label(form.department, 'Department*') }}
                {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.department) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_label(form.country, 'Country*') }}
                {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.country) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_label(form.plainPassword.first, 'Password*') }}

                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_label(form.plainPassword.second, 'Repeat Password*') }}

                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.plainPassword.second) }}
                </div>
            </div>
        </div>
    </div>

</div>
<div class="kt-portlet__foot">
    <div class="kt-form__actions">
        <div class="row">
            <div class="col-lg-6">
                <a href="{{ path('user_index') }}" class="btn btn-secondary">Cancel</a>
                <button class="btn btn-primary">Save</button>

            </div>

        </div>
    </div>
</div>
{{ form_end(form) }}