{% extends 'base.html.twig' %}

{% block title %} Users {% endblock %}

{% block content_head %}
    {% embed 'layout/content-head.html.twig' with {'title':'Users', 'numberOfRecords': users|length} %}
        {% block content_header_actions %}
            <a href="{{ path('user_new') }}" class="btn btn-brand btn-bold">Add User</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block content %}
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body kt-portlet__body--fit">

                <!--begin: Datatable -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Department</th>
                        <th class="text-center">Country</th>
                        <th>Reports To</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.role|replace({'ROLE_':''})|capitalize }}</td>
                            <td>{% if user.department %}{{ user.department.name }}{% endif %}</td>
                            <td class="text-center">{% if user.country %}
                                    <span data-toggle="kt-tooltip" data-placement="top" data-skin="dark"
                                          title="{{ user.country.name }}">
                                <img style="max-width: 25px"
                                        src="{{ asset('assets/media/flags/svg/'~user.country.isoCode~'.svg') }}">
                                {% endif %}
                            </span>
                            </td>
                            <td>{% if user.reportsTo %}{{ user.reportsTo.fullName }}{% endif %}</td>
                            <td>
                                {% if user.active %}
                                    <span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">Active</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('user_edit', {'id':user.id}) }}">EDIT</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!--end: Datatable -->
            </div>
        </div>
        <!--end::Portlet-->
    </div>
{% endblock %}