{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content_head %}
    {% embed 'layout/content-head.html.twig' %}
        {% block content_header_main %}
            <h3 class="kt-subheader__title">My Profile</h3>
        {% endblock %}
        {% block content_header_actions %}
            <a href="{{ path('user_index') }}" class="btn btn-secondary btn-bold">Cancel</a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                <div class="alert-text">{{ message }}</div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-7">
                <div class="kt-portlet">
                    <!--begin::Form-->
                    {{ form_start(form, {'attr': {'class': 'kt-form kt-form--label-right', 'novalidate': 'novalidate'}}) }}
                    <div class="kt-portlet__body">

                        <div class="form-group">
                            {{ form_label(form.fullName, 'Full Name*') }}
                            {{ form_widget(form.fullName, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(form.fullName) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, 'Email*') }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">

                            <button class="btn btn-primary">Save</button>

                        </div>
                    </div>
                    {{ form_end(form) }}
                    <!--end::Form-->
                </div>
            </div>
            <div class="col-lg-5">
                <div class="kt-portlet">
                    <!--begin::Form-->
                    {{ form_start(changePasswordForm, {'attr': {'class': 'kt-form kt-form--label-right', 'novalidate': 'novalidate'}}) }}
                    <div class="kt-portlet__body">
                        <div class="form-group">
                            {{ form_label(changePasswordForm.plainPassword.first, 'Password*') }}

                            {{ form_widget(changePasswordForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(changePasswordForm.plainPassword.first) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(changePasswordForm.plainPassword.second, 'Repeat Password*') }}

                            {{ form_widget(changePasswordForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(changePasswordForm.plainPassword.second) }}
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    {{ form_end(changePasswordForm) }}
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
