{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block content_head %}
    {% embed 'layout/content-head.html.twig' %}
        {% block content_header_main %}
            <h3 class="kt-subheader__title">Create User</h3>
        {% endblock %}
        {% block content_header_actions %}
            <a href="{{ path('user_index') }}" class="btn btn-secondary btn-bold">Cancel</a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
    <div class="kt-portlet">
        <!--begin::Form-->
        {{ include('user/_form.html.twig') }}
        <!--end::Form-->
    </div>
        </div>
    </div>
</div>
{% endblock %}
