<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            {% block content_header_main %}
            <h3 class="kt-subheader__title">{{ title }}</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__toolbar" id="kt_subheader_search">
                <span class="kt-subheader__desc" id="kt_subheader_total">{{ numberOfRecords }} Total </span>
            </div>
            {% endblock %}
        </div>
        <div class="kt-subheader__toolbar">
            {% block content_header_actions %}{% endblock %}
        </div>
    </div>
</div>