<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

    <!-- begin:: Header Menu -->
    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i>
    </button>
    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">

        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout- ">
            <ul class="kt-menu__nav ">
                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel kt-menu__item--active"
                    data-ktmenu-submenu-toggle="click" aria-haspopup="true">
{#                    <a href="" class="kt-menu__link">#}
{#                        <i class="kt-menu__link-icon flaticon-list-1"></i><span#}
{#                                class="kt-menu__link-text">My Tasks</span>#}
{#                    </a>#}
                </li>
            </ul>
        </div>
    </div>

    <!-- end:: Header Menu -->

    <!-- begin:: Header Topbar -->
    <div class="kt-header__topbar">

        <a class="kt-header__topbar-item" href="">

									<span class="kt-header__topbar-icon">
										<i class="flaticon-plus"></i>
									</span>

        </a>
        <!--begin: Notifications -->
        <div class="kt-header__topbar-item dropdown">

            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px,0px">
									<span class="kt-header__topbar-icon">
										<i class="flaticon2-bell-alarm-symbol"></i>

                                            <span class="kt-badge kt-badge--notify kt-badge--sm kt-badge--brand"></span>

									</span>
            </div>

            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg"
                 style="width: 430px">

                <div class="kt-notification kt-scroll" data-scroll="true"
                     data-height="270" data-mobile-height="220">
                    <div class="text-left py-3 px-3" style="border-bottom: 1px solid #f7f8fa;">
                        <span class="kt-font-bold" style="text-align: left">Latest Notifications</span>
                    </div>

                    <div class="text-center py-2">
                        <a href="">See all notifications</a>
                    </div>
                </div>

            </div>
        </div>
        <!--end: Notifications -->

        <!--begin:: Languages -->
        <div class="kt-header__topbar-item kt-header__topbar-item--langs">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
									<span class="kt-header__topbar-icon">
										<img class="" src="{{ asset('assets/media/flags/260-united-kingdom.svg') }}"
                                             alt=""/>
									</span>
            </div>
        </div>

        <!--end:: Languages -->

        <!--begin: User Bar -->
        <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">

                <!--use "kt-rounded" class for rounded avatar style-->
                <div class="kt-header__topbar-user kt-rounded-">
                    <span class="kt-header__topbar-username kt-hidden-mobile">{{ app.user.fullName }}</span>
                    <div class="kt-badge kt-badge--xl kt-badge--"></div>

                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                    <span class="kt-badge kt-badge--username kt-badge--lg kt-badge--brand kt-hidden kt-badge--bold">S</span>
                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">
                <div class="kt-user-card kt-margin-b-40 kt-margin-b-30-tablet-and-mobile"
                     style="background-image: url(assets/media/misc/head_bg_sm.jpg)">
                    <div class="kt-user-card__wrapper">
                        <div class="kt-user-card__pic">

                            <!--use "kt-rounded" class for rounded avatar style-->
                            <div class="kt-badge kt-badge--xl kt-badge--brand">PB</div>
                        </div>
                        <div class="kt-user-card__details">
                            <div class="kt-user-card__name">{{ app.user.fullName }}</div>
                        </div>
                    </div>
                </div>
                <ul class="kt-nav kt-margin-b-10">
                    <li class="kt-nav__item">
                        <a href="{{ path('my_profile') }}" class="kt-nav__link">
                            <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                            <span class="kt-nav__link-text">My Profile</span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a href="{{ path('manage_dashboard') }}" class="kt-nav__link">
                            <span class="kt-nav__link-icon"><i class="flaticon2-gear"></i></span>
                            <span class="kt-nav__link-text">Settings</span>
                        </a>
                    </li>
                    <li class="kt-nav__separator kt-nav__separator--fit"></li>
                    <li class="kt-nav__custom kt-space-between">
                        <a href="{{ path('app_logout') }}" class="btn btn-label-brand btn-upper btn-sm btn-bold">Sign
                            Out</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--end: User Bar -->

        <!--begin:: Quick Panel Toggler -->

        <!--end:: Quick Panel Toggler -->
    </div>

    <!-- end:: Header Topbar -->
</div>