<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->
<head>
    <base href="../../">
    <meta charset="utf-8"/>
    <title>AppLinker - Login Page</title>
    <meta name="description" content="User login example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">

    <!--end::Fonts -->

    <!--begin::Page Custom Styles(used by this page) -->
    <link href="{{ asset('assets/css/pages/login/login-v2.css') }}" rel="stylesheet" type="text/css"/>

    <!--end::Page Custom Styles -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="{{ asset('assets/plugins/global/plugins.bundle.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/style.bundle.css') }}" rel="stylesheet" type="text/css"/>

    <!--end::Global Theme Styles -->

    <!--begin::Layout Skins(used by all pages) -->
    <link href="{{ asset('assets/css/skins/header/base/light.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/skins/header/menu/light.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/skins/brand/navy.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/skins/aside/navy.css') }}" rel="stylesheet" type="text/css"/>

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="{{ asset('assets/media/logos/favicon.ico') }}"/>
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body class="kt-login-v2--enabled kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid__item   kt-grid__item--fluid kt-grid  kt-grid kt-grid--hor kt-login-v2" id="kt_login_v2">

        <!--begin::Item-->


        <!--end::Item-->
        <!--begin::Item-->
        <div class="kt-grid__item  kt-grid  kt-grid--ver  kt-grid__item--fluid">
            <!--begin::Body-->
            <div class="kt-login-v2__body">
                <!--begin::Wrapper-->
                {% if app.request.get('error') == 'invalid-token' %}
                    <div class="kt-login-v2__wrapper">
                        <div>
                            <h3><strong>OOPS! </strong><p>Password reset token is invalid or expired<p></p></h3>
                            <a href="{{ path('dashboard') }}" class="btn btn-primary mt-5">Back to home</a>
                        </div>
                    </div>

                    <div class="kt-login-v2__image">
                        <img src="{{ asset('assets/media/misc/car-fire.svg') }}" alt="">
                    </div>
                {% elseif app.request.get('success') == '1'%}
                    <div class="kt-login-v2__wrapper">
                        <div>
                            <h3><strong class="text-success">Success! </strong><p>Your password has been updated!<p></p></h3>
                            <a href="{{ path('dashboard') }}" class="btn btn-primary mt-5">Back to home</a>
                        </div>
                    </div>
                    <div class="kt-login-v2__image">
                        <img src="{{ asset('assets/media/misc/firexo-extinguisher.svg') }}" alt="">
                    </div>
                {% else %}
                    <div class="kt-login-v2__wrapper">

                        <div class="kt-login-v2__container">
                            <div class="kt-login-v2__title">
                                <h3>Reset your password</h3>
                            </div>

                            <!--begin::Form-->
                                {{ form_start(changePasswordForm, {'attr': {'id':'kt_login_form','class': 'kt-login-v2__form kt-form', 'novalidate': 'novalidate'}}) }}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}


                                <div class="form-group">
                                    {{ form_label(changePasswordForm.plainPassword.first, 'Password') }}
                                    {{ form_widget(changePasswordForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                    <div class="form-error">
                                        {{ form_errors(changePasswordForm.plainPassword.first) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(changePasswordForm.plainPassword.second, 'Repeat Password') }}

                                    {{ form_widget(changePasswordForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                    <div class="form-error">
                                        {{ form_errors(changePasswordForm.plainPassword.second) }}
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >

                                <!--begin::Action-->
                                <div class="kt-login-v2__actions">
                                    <button type="submit" class="btn btn-xs btn-brand btn-elevate btn-pill btn-block"
                                            id="kt_login_submit">Reset Password
                                    </button>
                                </div>

                                <div class="mt-5 kt-link kt-link--brand">
                                    <a href="{{ path('app_login') }}">Back to login page</a>
                                </div>
                                {{ form_end(changePasswordForm) }}

                                <!--end::Action-->
                        </div>
                    </div>

                    <div class="kt-login-v2__image">
                        <img src="{{ asset('assets/media/misc/firexo-extinguisher.svg') }}" alt="">
                    </div>

            {% endif %}
        </div>

        <!--begin::Body-->
    </div>

    <!--end::Item-->

    <!--begin::Item-->
    <div class="kt-grid__item">
        <div class="kt-login-v2__footer">
            <div class="kt-login-v2__link">
                <a href="" class="kt-link kt-font-brand">Privacy</a>
                <a href="" class="kt-link kt-font-brand">Terms & Conditions</a>
                <a href="" class="kt-link kt-font-brand">Contact</a>
            </div>
            <div class="kt-login-v2__info">
                <a href="#" class="kt-link">&copy; 2020 AppLinker</a>
            </div>
        </div>
    </div>

    <!--end::Item-->
</div>
</div>

<!-- end:: Page -->

<!-- begin::Global Config(global config for global JS sciprts) -->


<!-- end::Global Config -->

<!--begin::Global Theme Bundle(used by all pages) -->

<!--end::Global Theme Bundle -->

<!--begin::Page Scripts(used by this page) -->
<script src="{{ asset('assets/js/pages/custom/user/login.js') }}" type="text/javascript"></script>

<!--end::Page Scripts -->
</body>

<!-- end::Body -->
</html>