{% extends 'base.html.twig' %}

{% block title %} Settings {% endblock %}


{% block content %}
    <div class="kt-container kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="margin-top: -25px">

        {% if is_granted('ROLE_ADMIN') %}
        <h3 class="mb-3">Panel Administracyjny</h3>
        <div class="row mb-5">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Pracownicy</h5>
                        <p class="card-text">
                            <img style="height:130px;float:right;margin-right:20px;margin-top:-15px"
                                 src="{{ asset('assets/media/pages/team.svg') }}">
                            Tworzenie kont pracowników pozwala na przyznanie osobnego loginu i hasła każdemu z pracowników.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('user_index') }}" class="btn btn-sm btn-outline-brand">Manage</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}